.bike_img {
  margin-top: 10px;
  border-radius: 5px;
  height: 500px;
  width: 600px;
}
.bike_img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.content {
  margin-top: 12px;
  text-align: center;
  margin: 20px;
  display: flex;
}
.bodydescription {
  margin-top: 70px;
}
